html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background: #eceef4;
}

.head_sec {
	width: 100%;
	min-height: 150px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;	
}


  .go_back, .sign_in {
	background-color: #eceef4;
	border:  0.5px solid #c9d0e1;
	width: 	127px;
	height: 41px;
	border-radius: 4px;
	outline: 0;
	font-family: 'FontAwesome';
	font-size: 10px;
	color: rgb(165,171,197);
}

.go_back:hover, .sign_in:hover {
	border: skyblue 2px solid;
}

.go_back:active, .sign_in:active {
	background-color: skyblue;
}

.left_arrow {
	margin-top: 6px;
	margin-right: 9px;
	width: 12px;
	height: 12px;
}

.logo_head {
	width: 85px;
	height: 85px;
}

.face {
	margin-top: 6px;
	margin-right: 9px;
	width: 12px;
	height: 12px;
}

main {
	border: 0.5px solid #c9d0e1;
	border-radius: 4px;
	margin: 20px auto;
	background-color: white;
	width: 76%;
	height: 100%;
}

.order_header {
	font-family: 'FontAwesome';
	font-size: 12px;
	color: rgb(110, 118, 143);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 10px; 
	padding-left: 20px;
}

.order_list {
	border-bottom: 0.5px solid #c9d0e1;
}

.table_main {
	display: flex;
	flex-flow: column wrap;
	padding-left: 35px;
}

.table_orders_1 > table >tbody > tr {
	width: 450px;
	height: 12px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	font-size: 11px;
	color:rgb(110, 118, 143);
}

.table_orders_2 > table >tbody > tr {
	width: 450px;
	height: 12px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	font-size: 10px;
	color:rgb(165,171,197);
	margin-bottom: 30px;
}

#details {
	padding-left: 12px;
}

#price {
	padding-left: 15px;
}
#delivery {
	padding-right: 15px;
}

#lang_table_4 {
	padding-right: 32px;
}

#lang_table_3 {
	padding-left: 20px;
}

.button_order {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-around;
	padding-right: 30px;
	padding-left: 20px;
}

.place_order {
	background-color: rgb(95,202,198);
	color: white;
	margin-bottom: 10px;
	border:  0.5px solid #c9d0e1;
	border-radius: 4px;
	width: 130px;
	height: 40px;
	font-family: 'FontAwesome';
	outline: 0;
}

.print_a_quote {
	background-color: #eceef4;
	border: 0.5px solid #c9d0e1;
	width: 130px;
	height: 40px;
	font-family: 'FontAwesome';
	color: rgb(165,171,197);
	border-radius: 4px;
	outline: 0;
}

.place_order:hover, .print_a_quote:hover {
	border: skyblue 2px solid;
}

.place_order:active, .print_a_quote:active {
	background-color: skyblue;
}

.left_main{	
	display: flex;
	flex-flow: row wrap;
}

.right {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-left: 0.5px solid #c9d0e1;
	width: 200px;
	flex-flow: column wrap;
	justify-content: center;
	padding-left: 20px;	
}

.help_center {
	font-family: 'FontAwesome';
	font-size: 11px;
	color: rgb(110, 118, 143);
	max-width: 220px;
	padding-left: 15px;
	
}

.ring {
	padding-right: 10px;
}

.right_text {
	padding-top: 10px;
	padding-left: 40px;
	padding-bottom: 10px;
	font-family: 'FontAwesome';
	font-size: 12px;
	color: rgb(165,171,197);
}


.help_contact {
	display: flex;
	justify-content: space-between;
	font-family: 'FontAwesome';
	font-size: 10px;
	padding-left: 40px;
}

.order_wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row wrap;
	padding:10px;
}

.phone {
	font-size: 12px;
	color: rgb(110, 118, 143);
	font-family: 'FontAwesome';
}

.email {
	font-size: 10px;
	color: rgb(110, 118, 143);
	font-family: 'FontAwesome';
}

.wrapper {
	max-width: 1600px;
	margin: auto;
}





input[name=var]:checked + .select_item {
	border: 3px solid skyblue;
	border-radius: 3px;
}
	
input[name=var]:checked + .select_item:after {
	background: white;
}

